
html,body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    background-color: aqua;
    font-size: 1.09rem;
    line-height: 1.6rem;
}
h1{
    padding-bottom: 20px;
}
.quest{
    background-color: #fff;
    padding: 4px 20px ;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 1.5px 2.3px 10px rgba(110, 109, 109, 0.767);
}
.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}
.answer{

    color: rgba(0, 0, 0, 0.519);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}
.icon{
    margin-right: 10px;
    transform: rotate(90deg);
    transition: transform 0.3s;
}
.icon.active{
    /* transition: 0.3s ease-in; */
    transform: rotate(0deg);
    
}
